body {
    background: #f0f0f0;
}

#content {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
    background: #ffffff;
    border: 1px #888888 solid;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #aaaaaa;
    padding: 3px 27px 10px 27px;
}

#left, #right {
    display: inline-block;
    vertical-align: top;
}

#left {
    width: 50%;
}

#right {
    width: 49%;
}

h1, label {
    font-family: "Open sans", helvetica, "Lucida Grande", Arial, sans-serif;
    color: #666682;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
}

label {
    font-weight: 700;
    display: block;
}

input[type=text], input[type=password], input[type=email] {
    height: 20px;
    width: 275px;
}


#id_out_time_0, #id_in_time_0, #id_out_time_1, #id_in_time_1 {
    width: 80px;
    margin-right: 5px;
}

.submit_button {
    float: left;
}

.field_wrapper {
    margin-top: 20px;
}

#datetime_container {
    font-family: "Open sans", helvetica, "Lucida Grande", Arial, sans-serif;
}

#id_equipment, #id_sub_items {
    display: inline-block;
    margin-top: 7px;
    width: 415px;
    border: 1px #c5c5c5 solid;
    border-bottom: 0px;
    border-radius: 2px;
    border-collapse: collapse;
    font-weight: 500;
}

.list_box {
    margin-top: 3px;
    width: 400px;
    border: 1px #c5c5c5 solid;
    border-bottom: 0px;
    border-radius: 2px;
    border-collapse: collapse;
    font-weight: 500;
}

li, .li_unstyle {
    padding: 3px;
    border-bottom: 1px #c5c5c5 solid;

    font-family: helvetica, "Lucida Grande", Arial, sans-serif;
    font-size: 13px;
    color: #000000;
}

li:nth-child(odd)		{ background-color:#f1f4f7; }
li:nth-child(even)		{ background-color:#fafafa; }

.submit_button_wrapper {
    height: 40px;
}

.errors {
    font-family: helvetica, "Lucida Grande", Arial, sans-serif;
    color: #dd0000;
    font-size: 14px;
    margin-top: 5px;
}

#first_name_field, #last_name_field {
    width: 43%;
    display: inline-block;
}

#id_first_name, #id_last_name {
    width: 90%;
}

.checkbox_label {
    display: inline;
    padding-left: 5px;

    font-family: helvetica, "Lucida Grande", Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #555555;
}

.equipment_choices {
    width: 420px;
    display: inline-block;
}

.quantities {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-top: 7px;
}

input[type=number] {
    height: 19px;
    width: 40px;
    margin-top: 2px;
    margin-bottom: 1px;
}

.equipment_choice {
    width: 80%;
    display: inline-block;
}

.options_link {
    float: right;
    color: #666682;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 2px;
}

#contents_list {
    margin-top: 7px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px #c5c5c5 solid;
    border-bottom: 0px;
    border-radius: 2px;
    border-collapse: collapse;
    font-weight: 500;

    font-family: "Open sans", helvetica, "Lucida Grande", Arial, sans-serif;
    color: #666682;
    font-weight: 700;
}

.add_new_link {
    font-size: 15px;
    padding-left: 5px;
}