body {
    background: #eeeeee;
}

#content {
    margin-left: 20px;
    margin-right: 20px;
}


table {
    margin-left: 30px;
    margin-right: 30px;
    background: #ffffff;
    border: 1px #888888 solid;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #aaaaaa;
    padding: 3px 27px 10px 27px;
    border-collapse: collapse;

    /* fonts */
    font-family: "Open sans", helvetica, "Lucida Grande", Arial, sans-serif;
    font-size: 14px;
}

th {
    border-bottom: 1px #888888 solid;
    border-right: 1px #888888 solid;
    height: 25px;
    padding: 3px 8px 3px 8px;
    background: #f8f8f8;

    font-size: 15px;
    color: #666682;
}

tr:nth-child(even)		{ background-color:#f1f4f7; }
tr:nth-child(odd)		{ background-color:#fafafa; }

td {
    border: 1px #888888 solid;
    padding: 3px 8px 3px 8px;
}

.name {
    color: #666682;
    font-weight: 700;
    text-decoration: none;
}

.quantity {
    text-align: center;
}

.footer {
    background: #f8f8f8;
}

.submit_button {
    float: left;
}

/* Reservation Statuses */
.not_approved {
    color: #aa0000;
}

.approved {
    color: #008800;
}