{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/checkout/edit.css">
{% endblock %}

{% block content %}
    <h1>{{ page_title }}</h1>

    <form action="." method="post">
        {% csrf_token %}
        <div class="errors">{{ form.non_field_errors.as_text|cut:"* "}}</div>
        <div id="left">
            <div>
                <div class="field_wrapper" id="first_name_field">
                    <label>First Name</label>
                    {{ form.first_name.value }}
                </div>
                <div class="field_wrapper" id="last_name_field">
                    <label>Last Name</label>
                    {{ form.last_name.value }}
                </div>
            </div>
            <div>
                <div class="field_wrapper">
                    <label for="id_email">Email</label>
                    <div class="errors">{{ form.email.errors.as_text|cut:"* " }}</div>
                    {{ form.email }}
                </div>
                <div class="field_wrapper">
                    <label>Date Joined</label>
                    {{ instance.date_joined }}
                </div>
            </div>
            <div class="submit_button_wrapper">
                <input class="submit_button" type="submit" value="Save Changes"/>
            </div>
        </div>
        <div id="right">
            <div>
                <div class="field_wrapper">
                    <label>Permission Level</label>
                    {{ user.groups.all.0 }}
                </div>
                <div class="field_wrapper">
                    <label>Username</label>
                    {{ form.username.value }}
                </div>
                <div class="field_wrapper">
                    <label for="id_password">Password</label>
                    <div class="errors">{{ form.password.errors.as_text|cut:"* " }}</div>
                    {{ form.password }}
                </div>
            </div>
        </div>
        <input type="hidden" name="username" value="{{ instance.username }}">
        <input type="hidden" name="first_name" value="{{ instance.first_name }}">
        <input type="hidden" name="last_name" value="{{ instance.last_name }}">
    </form>
{% endblock %}