<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Monster Checkout{% endblock %}</title>

    <!-- Import Open Sans from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,700,800,600 ' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div id="header">
        {% if user.is_active %}
        <div id="user_info">Welcome {{ user.first_name }} {{ user.last_name }}!  <a href="/accounts/logout/">Log Out</a> </div>
        {% else %}
        <div id="user_info">{{ user.first_name }}<a href="/accounts/login/?next=/welcome/">Log In</a></div>
        {% endif %}
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>