<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Monster Checkout{% endblock %}</title>

    <!-- Import Open Sans from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,700,800,600 ' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div id="header">
        <a href="/"><div id="monster_header">MONSTER Checkout</div></a>
        <div id="nav">
            {% if user.is_active %}
            <div id="reservation_tab" class="tab {% if reservation_tab or view.reservation_tab %}active{% endif %}">
                <a href="/checkout/reservations/"><span class="tab_text"><i class="fa fa-calendar icon-space-right"></i>  Reservations</span></a>
            </div>
            {% endif %}
            <div id="equipment_tab" class="tab {% if equipment_tab or view.equipment_tab %}active{% endif %}">
                <a href="/checkout/equipment/"><span class="tab_text"><i class="fa fa-microphone icon-space-right"></i> Equipment</span></a>
            </div>
            {% if is_admin %}
            <div id="users_tab" class="tab {% if users_tab %}active{% endif %}">
                <a href="/checkout/users/"><span class="tab_text"><i class="fa fa-users icon-space-right"></i> Users</span></a>
            </div>
            {% endif %}
            {% if is_monitor %}
            <div id="monitor_tab" class="tab {% if monitor_tab %}active{% endif %}">
                <a href="/checkout/monitor/"><span class="tab_text"><i class="fa fa-key icon-space-right"></i> Monitor</span></a>
            </div>
            {% endif %}
        </div>
        {% if user.is_active %}
        <div id="user_info"><div class="top">Welcome, <strong>{{ user.first_name }} {{ user.last_name }}</strong></div>
            <div class="bottom"><a class="logout" href="/checkout/settings/account/">My Account</a> | <a class="logout" href="/accounts/logout/">Log Out</a></div> </div>
        {% else %}
        <div id="user_info"><a class="login" href="/accounts/login/?next=/welcome/">Log In</a></div>
        {% endif %}
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>