{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
{% endblock %}

{% block content %}

<h1>Welcome to MONSTER Checkout</h1>

{% if form.errors %}
<div class="errors"><p>Your username and password didn't match. Please try again.</p></div>
{% else %}
<div class="errors_placeholder"></div>
{% endif %}

<div id="login">
    <div class="login_header">
        <p class="login_header_message">Please log in</p>
    </div>
    <div id="login_body">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <ul>
            <li class="label">Username</li>
            <li>{{ form.username }}</li>
            <li class="label">Password</li>
            <li>{{ form.password }}</li>
            </li>
            </ul>
            <a class="forgot_password" href="/account/password_reset">Forgot your password?</a>

            <input class="submit_button" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>

{% endblock %}