{% extends 'base.html' %}

{% block title %}Monster Checkout{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/welcome.css"/>
{% endblock %}

{% block content %}
<p>Are you tired of filling out a bunch of different checkout forms to get the mics you
need for your project?<br/>  Well, soon, you can do all of it online from the comfort of your
own home.</p>

<p>Introducing MONSTER Checkout.  Available Spring 2014. (<a href="/progress/">See progress</a>) </p>
{% endblock %}