{% extends "base.html" %}

{% block title %}MONSTER Equipment{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/checkout/list_view.css"/>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Condition</th>
        <th>Description</th>
    </tr>
    {% for object in object_list %}
    <tr>
        <td><a class="name" href="/checkout/equipment/{{ object.id }}/">{{ object.name }}</a></td>
        <td>{{ object.brand }}</td>
        <td class="quantity">{{ object.quantity }}</td>
        <td>{{ object.condition }}</td>
        <td>{{ object.description }}</td>
    </tr>
    {% endfor %}

    {% if user.is_superuser %}
    <tr>
        <td colspan="5" class="footer">
            <form action="/checkout/equipment/add">
                <input class="submit_button" type="submit" value="Add New Equipment">
            </form>
        </td>
    </tr>
    {% endif %}
</table>
{% endblock %}