{% extends 'base.html' %}

{% block title %}
    {% if reservation.is_checked_out %}
    Check In
    {% else %}
    Check Out
    {% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/checkout/detail_view.css">
<link rel="stylesheet" type="text/css" href="/static/css/checkout/monitor_checkout.css">
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
$(".check").click(function() {
    if (!$('input.check[type=checkbox]:not(:checked)').length)
        document.getElementById("checkout_button").disabled=false;
    else
        document.getElementById("checkout_button").disabled=true;
});
</script>
{% endblock %}

{% block content %}
{% if not reservation.is_checked_out %}
<h1>Equipment Check Out</h1>
{% else %}
<h1>Equipment Check In</h1>
{% endif %}

<div id="left">
    <p class="note">Please check that all the equipment is here to continue.</p>
        <ul id="checklist">
            {% for item in equipment %}
            {% if not item.equipment.is_kit %}<li>
                <div class="equipment_checkbox">
                    <input type="checkbox" class="check">{{ item.equipment.name }}
                    {% if item.quantity > 1 %} (x{{ item.quantity }}){% endif %}
                </div>
            </li>{% endif %}
            {% endfor %}
        </ul>

    {% if has_kits%}
    <h3>Recording Kits</h3>
    <p class="note">Please check that all parts of the recording kits are here.</p>
        <ul id="checklist">
            {% for item in reservation.sub_items.all %}
            <li>
                <div class="equipment_checkbox">
                    <input type="checkbox" class="check">{{ item.name }}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="submit_button_wrapper">
        {% if not reservation.is_checked_out %}
        <form action="/checkout/monitor/checkout/confirm/" method="post">
        {% else %}
        <form action="/checkout/monitor/checkin/confirm/" method="post">
        {% endif %}
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ reservation.id }}">
            {% if not reservation.is_checked_out %}
            <input type="submit" id="checkout_button" class="submit_button" value="Check Out" disabled>
            {% else %}
            <input type="submit" id="checkout_button" class="submit_button" value="Check In" disabled>
            {% endif %}
        </form>
    </div>
</div>

<div id="right">
    <h3>Name</h3>
    <p class="name">{{ reservation.user.first_name }} {{ reservation.user.last_name }}</p>

    <h3>Project</h3>
    <p>{{ reservation.project }}</p>

    <h3>Check out time</h3>
    <p>{{ reservation.out_time }}</p>

    <h3>Due at</h3>
    <p>{{ reservation.in_time }}</p>

    {% if reservation.is_checked_out  %}
    <h3>Checked out</h3>
        <p>By {{ reservation.checked_out_by.first_name }} {{ reservation.checked_out_by.last_name }}<br/>on {{ reservation.checked_out_time }}</p>
        <p>{{ reservation.check_out_comments }}</p>
    {% endif %}
</div>
{% endblock %}