{% extends "base.html" %}

{% block title %}Your reservations{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/checkout/list_view.css"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block content %}
    <table>
        <tr>
            {% if user.is_superuser %}
            <th>Name</th>
            {% endif %}
            <th>Project</th>
            <th>Out Time</th>
            <th>In Time</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        {% for object in object_list %}
            <tr>
                {% if user.is_superuser %}
                <td>{{ object.user.first_name }} {{ object.user.last_name }}</td>
                {% endif %}
                <td>{{ object.project }}</td>
                <td>{{ object.out_time }}</td>
                <td>{{ object.in_time }}</td>
                <td>
                    {% if object.is_conflicting %}
                        <span class="not_approved">Conflicting!</span>
                    {% else %}
                        {% if object.is_approved %}
                            {% if object.checked_in_time %}
                                {% if object.checked_in_time > object.in_time %}
                                    <span class="checked_in_late">Returned Late</span>
                                {% else %}
                                    <span class="checked_in">Returned</span>
                                {% endif %}
                            {% elif object.checked_out_time %}
                                {% if datetime.now > object.in_time %}
                                    <span class="overdue">Overdue</span>
                                {% else %}
                                    <span class="checked_out">Checked Out</span>
                                {% endif %}
                            {% else %}
                            <span class="approved">Approved
                                {% if user.is_superuser %}
                                    <form class="inline_form" action="/checkout/reservations/reject/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ object.id }}">
                                        <button>
                                            <img src="/static/images/icons/delete.ico">
                                        </button>
                                    </form>
                                {% endif %}
                            </span>
                            {% endif %}
                        {% else %}
                            <span class="not_approved">Not approved
                                {% if user.is_superuser %}
                                    <form class="inline_form" action="/checkout/reservations/approve/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ object.id }}">
                                        <button>
                                            <img src="/static/images/icons/check.ico">
                                        </button>
                                    </form>
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endif %}
                </td>
                <td><a href="/checkout/reservations/{{ object.id }}/">Details</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6" class="footer">
                <form action="/checkout/reservations/add">
                    <input class="submit_button" type="submit" value="Add a Reservation">
                    {% if view.shows_all %}
                        <a href="/checkout/reservations/">Hide past reservations.</a>
                    {% else %}
                        <a href="/checkout/reservations/all/">View past reservations.</a>
                    {% endif %}
                </form>
            </td>
        </tr>
    </table>


{% endblock %}