{% extends "base.html" %}

{% block title %}New Reservation{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/checkout/edit.css"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/jquery/jquery.timepicker.css">
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/js/jquery.timepicker.js"></script>
<script>
$(function() {
    $("#id_out_time_0").datepicker();
    $("#id_in_time_0").datepicker();
    $("#id_out_time_1").timepicker({ 'timeFormat': 'H:i'});
    $("#id_in_time_1").timepicker({ 'timeFormat': 'H:i'});
});
</script>
{% endblock %}

{% block content %}
    <h1>New Reservation</h1>
    <form action="." method="post">{% csrf_token %}
    <div class="errors">{{ form.non_field_errors.as_text|cut:"* "}}</div>
        <div class="field_wrapper">
            <label for="id_project">Project<br/></label>
            <div class="errors">{{ form.project.errors.as_text|cut:"* " }}</div>
            {{ form.project }}
        </div>
        <div class="field_wrapper" id="datetime_container">
            <label for="id_reservation_time">Reservation Time<br/></label>
            <div class="errors">{{ form.out_time.errors.as_text|cut:"* " }}</div>
            <div class="errors">{{ form.in_time.errors.as_text|cut:"* "}}</div>
            {{ form.out_time }} to
            {{ form.in_time }}
        </div>
        <div class="field_wrapper">


            <div class="errors">{{ form.equipment.errors.as_text|cut:"* " }}</div>
            <div class="equipment_choices">
                <label for="id_equipment">Equipment</label>
                {{ form.equipment }}
            </div>
            <div class="quantities">
                <label>Quantity</label>
                {% for equipment in queryset %}
                <div {% if equipment.quantity == 1 %} class="hidden"{% endif %}>
                    <input type="number" name="quantity_{{ equipment.id }}" value="1" 
                        {% if equipment.quantity > 1 %}min="1" max="{{ equipment.quantity }}"><span class="sans"> / {{ equipment.quantity }}</span>
                        {% endif %}<br/>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="submit_button_wrapper">
            <input class="submit_button" type="submit" value="Submit"/>
        </div>
    </form>

{% endblock %}