{% extends "base.html" %}

{% block title %}Reservation Detail{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/checkout/detail_view.css">
{% endblock %}

{% block content %}
<h1>Reservation</h1>

    <h3>Name</h3>
    <p>{{ reservation.user.first_name }} {{ reservation.user.last_name }}</p>

    <h3>Project</h3>
    <p>{{ reservation.project }}</p>

    <h3>Check out time</h3>
    <p>{{ reservation.out_time }}</p>

    <h3>Due at</h3>
    <p>{{ reservation.in_time }}</p>

    <h3>Equipment</h3>
    <p>{% for equipment in reservation.equipment.all %}
        {{ equipment.name }}<br/>
    {% endfor %}</p>

    {% if is_monitor %}
    <form action="/checkout/monitor/checkout/{{ reservation.id }}/">
        <input class="submit_button" type="submit" value="Checkout">
    </form>
    {% endif %}
{% endblock %}