body {
    background: #eeeeee;
}

#header {
    visibility: collapse;
    height: 20px;
}

h1 {
    text-align: center;
    font-family: "open sans", helvetica, "Lucida Grande", Arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
}

.errors {
    color: #dd0000;
    font-size: 15px;
    text-align: center;
}

.errors_placeholder {
    height: 17px;
}

#login {
    background: #ffffff;
    border: #aaaaaa solid 1px;
    border-radius: 3px;
    width: 350px;
    height: 280px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #888888 0px 0px 2px;
}

.login_header {
    font-family: helvetica, "Open sans", "Lucida Grande", Arial, sans-serif;
    border-bottom: #cccccc solid 1px;
    border-top: transparent solid 1px;
    margin-top: 1px;
    background: #fafafa;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #666682;
    font-weight: 700;
    font-size: 23px;
}

p.login_header_message {
    margin: 0px;
}

#login_body {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 32px;
    padding: 0px;
}

li {
    width: auto;
}

.label {
    color: #666682;
    font-weight: 800;
    padding-left: 1px;
    padding-top: 13px;
    font-size: 17px;
}

input[type=text], input[type=password] {
    height: 28px;
    width: 275px;
    margin-top: 3px;
    border: 1px #c5c5c5 solid;
    box-shadow: 0px 0px 3px #cccccc inset;
    border-radius: 2px;
    font-size: 16px;
    padding-left: 5px;
    color: #555555;
}

.submit_button {
    float: right;
    margin-top: 5px;
    margin-right: 35px;
    border: 1px solid #122282;
    padding: 7px 15px;
    font-family: helvetica, "Lucida Grande", Arial, sans-serif;
    font-weight: 600;
	font-size: 14px;
    border-radius: 2px;
    color: #ffffff;
    background: #2a7fc4; /* Old browsers */
    background: -moz-linear-gradient(top,  #2a7fc4 1%, #336093 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2a7fc4), color-stop(100%,#336093)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2a7fc4 1%,#336093 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2a7fc4 1%,#336093 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2a7fc4 1%,#336093 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2a7fc4 1%,#336093 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a7fc4', endColorstr='#336093',GradientType=0 ); /* IE6-9 */
}

.submit_button:hover {
    border: 1px solid #223282;

    background: #2989d8; /* Old browsers */
    background: -moz-linear-gradient(top,  #2989d8 0%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2989d8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2989d8 0%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2989d8 0%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2989d8 0%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.submit_button:active {
    background: #1e5799;
    box-shadow: 0px 0px 2px #222222 inset;
}

a.forgot_password {
    font-family: helvetica, "Lucida Grande", Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #666692;
    margin-left: 32px;
}